/* 
  sketchdude (John Moore) 2018 

  My first attempt to style html 5 with flexbox and grid.

  sketchdude@gmail.com

*/ 

* {
  margin: 0;
}

body {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: large;
  background-color: #3b436b;
}

header {
  width: 922px;
  height: 122px;
  margin: 10px auto 0 auto;
}

div.container {
  width: 922px;
  margin: 0 auto 0 auto;
  background-image: url(../images/column5.png);
  display: flex;
  flex-direction: row-reverse;  
}

main {
  width: 722px;
  margin: auto;
}

main.gallery {
  display: grid;
  padding: 15px;
}

main.gallery h1 {
  grid-column-start: 1;
  grid-column-end: 4;
  font-size: 130%;  
}

main.gallery p {
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: left;
  margin-bottom: 15px;  
}

main h1 {
  text-align: center;
  padding: 15px;
  font-size: 175%;
}

main h3 {
  text-align: center;
}

main img {
  display: block;
  margin: auto;
}

main p {
  text-align: left;
  font-size: 105%;
  padding: 15px;
}

main a {
  color: #000;
}

main p.caption {
  font-size: 80%;
  padding: 5px;
  text-align: center;
}

.gallery figcaption {
  font-size: 65%;
  font-weight: bold;
  width: 85%;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
}

nav {
  width: 200px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 20px 0;
}

nav li {
  line-height: 2em;
  margin-left: 15px;
}

nav a {
  color: #4343FE;
  font-size: 1.4em;
  font-weight: bold;
  text-decoration: none;
}

nav a:hover {
  color: #8C8CE4;
}

nav a:active {
  color: red;
}

nav form {
  margin-left: 25px;
}

footer {
  width: 922px;
  height: 62px;
  margin: 0 auto;
  background-image: url(../images/footer.png);
}

footer p {
  text-align: center;
  line-height: 62px;
  vertical-align: middle;
  color: #fff;
  font-size: 70%;
}

a.contact:link, a.contact:visited {
  display: block;
  color: #E5E7F2;
  font-size: 80%;
}

a.contact:hover, a.contact:active {
  color: #031665;
  font-size: 80%;
}

ul.mailing_address {
  list-style-type: none;
  margin-left: 195px;
}